.main-section {
	max-width: 480px;
	height: 500px;
	background-color: #232322;
	height: 1100px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items:center;
}
.title {
	font-size: 30px;
	color: #fc673a;
	font-weight: 700;
	padding-top: 20px;
}
.subtitle {
	font-size: 18px;
	color: #fff;
	margin: 20px 0;
}
// .main-img {
// 	max-width: 480px;
// 	max-height: 480px;
// }
.prise-blok {
	display: flex;
	// margin: 0 40px;
}
.priseblock-left {
	width: 180px;
	height: 80px;
	background-color: #232322;
	border: #fc673a 1px solid;
	border-radius: 2px 0 0 15px;
}
.priseblock-right {
	width: 180px;
	height: 80px;
	background-color: #fc673a;
	border-radius: 0 10px 2px 0;
}
.priseblock-head {
	margin-top: 10px;
	font-size: 16px;
	color: #fff;
}
.priseblock-price {
	color: #fff;
	font-weight: 700;
	font-size: 30px;
	line-height: 26px;
}
.order-button {
	padding: 10px 70px;
	color: #fff;
	background-color: #fc673a;
	display: block;
	margin-top: 30px;
	border-radius: 50px;
	border: #f33f08 2px solid;
	font-size: 30px;
	font-weight: 700;
}
.items-left {
	margin-top: 30px;
	color: #fff;
	font-size: 16px;
}
.items-left span {
	background-color: #f33f08;
	color: #000;
	padding: 3px;
	font-size: 18px;
	font-weight: 700;
}