.countdown-title{
	margin-top: 20px;
	font-size: 30px;
	color: #fff;
	font-weight: 700;
}
.countdown-wrapper {
  max-width: 480px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 25px 0;
}
.countdown-box {
  background-color: #ffee00;
  font-size: 26px;
  font-weight: 700;
  color: #383737;
  border-radius: 15px;
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.legendd {
  font-size: 15px;
  color: #4b4d58;
}